body { 
    background-color: #F2F6D0; 
}

a:link {
    text-decoration: none;
}

#to-saved-page {
    margin-left: auto;
}

@media only screen and (max-width: 767px) {

#intro-banner {
    font-size: 25px;
}

}

@media only screen and (max-width: 600px) {

#intro-banner {
    font-size: 20px;
    margin-left: 10px;
}

#to-saved-page {
    margin-right: 20px;
}

}
